.AccordionGroup {
    display: flex;
    flex-direction: column;
    padding: 4px;
    border-bottom-style: groove;
    background-color: #DDD;
    text-align: left;
}

.AccordionItem > a {
    text-decoration: none;
    color: black;
}

.AccordionItemSelected > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.AccordionItem {
    display: flex;
    flex-direction: column;
    padding: 4px 4px 4px 16px;
    background-color: #EEE;
    text-align: left;
}

.AccordionItemSelected {
    display: flex;
    flex-direction: column;
    padding: 4px 4px 4px 16px;
    background-color: #EEE;
    text-align: left;
    color: red;
}
