DIV.navigation {
	font-size: 100%;
	background-color: silver;
	color: black;
}
P.copyleft{
	font-size: 75%;
	font-style: italic;
}
EM.achtung {
    color: red;
}
DIV.body {
    font-size: 100%;
    background-color: #eeeeff;
    color: solid green;
    margin: 1.5em;
    padding: 1.0em;
}
DIV.obj {
    font-size: 100%;
    background-color: #eeeeff;
    color: solid green;
    margin: 1.5em;
    padding: 1.0em;
}
DIV.objlinks {
    font-size: 100%;
    background-color: #eeeeff;
    color: solid green;
    margin: 1.5em;
    padding: 1.0em;
}

a:link { color: black }
a:active { color: black }

HR { border: medium; color: #00426B }

DIV.idx { margin-left: 5%; margin-right: 5% }
a.alk { color: green; font-style: italic }

LI.subjbody { margin-left: 15% }
LI.authbody { margin-left: 10% }

DIV.rfc822hdr { text-align: left; font-size: 100% }
EM.rfc822hdr { font-weight: bold; font-family: arial, sans-serif }
SPAN.subject { font-weight: bold; font-size: 150% }
a.relk { color: red }

DIV.copyright { font-size: 50%; text-align: right }
