.Menu {
    background-color: #ddd;
    mso-cellspacing: 0;
    padding: 0;
    padding: 0px;
    border-color: #B3B3B3;
    border-width: 0px;
    border-style: solid;
}

.MenuItem {
    padding: 8px;
    white-space: nowrap;
    spacing: 0;
}

.MenuItem > a {
    text-decoration: none;
    color: black;
}

.MenuItemSelected {
    padding: 8px;
    white-space: nowrap;
    spacing: 0;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-color: #eee;
    border-bottom: #0000FF solid 2px;
}

.MenuItemSelected > a {
    text-decoration: none;
    color: black;
}

.MenuItem:has(> a.active) {
    text-decoration: none;
    background-color: #eee;
    border-bottom: #0000FF solid 2px;
}

#fadein, #fadeout {
    clear: both;
    height: 5px;
    padding: 0;
    margin: 0;
}

#fadeout {
    background: #ddd url(../images/fadeout.gif) repeat-x top;
}
