body
{
	background-color: #FAFAF1;
	font-family: Verdana;
}
a { color: #006600; }
a:hover { color: red; }
.header
{
	font-size: 1.5em;
	color: #800000;
	border-bottom: #999;
	border-width: 0 0 2px 0;
	border-style: none none dotted none;
	margin: 0 0 20px 0;
}
.footer
{
	font-size: 0.5em;
	color: #333;
	border-top: #999;
	border-width: 2px 0 0 0;
	border-style: dotted none dotted none;
	padding: 5px 0 0 0;
	margin: 30px 0 0 0;
}
.pagetitle { color: #00F; }
.medium
{
	font-size: 0.9em;
	padding: 0 0 0 30px;
}
#menubar
{
	padding: 0px;
	border-color: #B3B3B3;
	border-width: 0px;
	border-style: solid;
	font-size: 0.7em;
}
.label { font-weight: bold; }
#msg { padding: 0 0 0 20px; }
#msg #header
{
	border-left: #800000;
	border-width: 0 0 0 2px;
	border-style: none none solid solid;
	padding: 0 0 0 5px;
}
ul.threadlist li
{
	font-size: 0.9em;
	padding: 0 0 10px 0;
}